<!DOCTYPE html>
<html lang="ko">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi" name="viewport">
<title>SIX</title>
<link rel="stylesheet" type="text/css" href="../../css/common.css" />
<script type="text/javascript" src="../../js/jquery-1_11_1_min.js"></script>
<script type="text/javascript" src="../../js/html5.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/menuTab.js"></script>
<script type="text/javascript" src="../../js/basic.js"></script>
</head>

<body>
<div class="wrapper main">
	<div class="skipMenu">
		<a href="#navigation">주메뉴 바로가기</a>
		<a href="#wrap_container">본문 바로가기</a>
	</div>
	<!-- header -->
	<header>
	<div id="header">
        <div class="top_banner">
            <div class="top_banner2">
                <p class="popup_title">수익률 관리가 필요한 <span>연금저축</span> <br><em>이제 금융기관 <span>단 한번 방문으로 간편하게 이전</span> 하세요.</em></p>
                <a href="#" class="banner_close" id="close_top_notice" onclick="javascript:document.getElementById('top_notice').style.display = 'none'; return false;"><span>닫기</span><img src="../../img/close.png" alt="닫기"></a>
                <p class="popup_title2">NH투자증권 준법감시인 심사필 제 2015-1303 (2015.05.11~2015.11.10)</p>
            </div>
        </div>
        <div class="top_header">
            <div class="top_header2">
                <ul class="top_header3">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
            </div>
        </div>
        <div class="middle_header">
            <div class="middle_header2">
                <a href="#"><img src="../../img/logo.png" alt="six 주식정보거래소"></a>
                <div class="realtime">
                    <p class="realtime1"><img src="../../img/pang.png" alt=""> <span>실시간 증시일정</span></p>
                    <p class="realtime2">오늘은 선물옵션 만기일입니다.</p>
                </div>
            </div>
        </div>
		<div id="menuwrap">
			<!-- pc 메뉴 -->
			<div id="navigation_pc">
				<ul id="navigation">
					<li><a href="" class="btnPullDown">SIX 소개</a>
						<!-- 2뎁스 시작 -->
						<div class="navigation_s1 pullDown">
							<span class="arrow_s1"></span>
							<ul>
								<li>
									<ul>
										<li><a href="">SIX 란?</a></li>
										<li><a href="">공지사항</a></li>
									</ul>
								</li>
								<li>
									<ul>
                                        <li><a href="">SIX 주식배움터</a></li>
                                        <li><a href="">SIX 투자전략</a></li>
                                        <li><a href="">SIX 탐방노트</a></li>
                                        <li><a href="">필수구독자료</a></li>
									</ul>
								</li>
                                <li>
                                    <ul>
                                        <li><a href="">일급무료종목추천</a></li>
                                        <li><a href="">식스비기</a></li>
                                        <li><a href="">테마정보</a></li>
                                        <li><a href="">실시간 증시일정</a></li>
                                        <li><a href="">증시브리핑</a></li>
                                        <li><a href="">고수들의 인터뷰</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 파트너</a></li>
                                        <li><a href="">SIX 파트너 순위</a></li>
                                        <li><a href="">SIX 파트너 신청</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">무료정보</a></li>
                                        <li><a href="">무료종목</a></li>
                                        <li><a href="">투자전략</a></li>
                                        <li><a href="">시장분석</a></li>
                                        <li><a href="">고급정보</a></li>
                                        <li><a href="">유료종목</a></li>
                                        <li><a href="">매매기법</a></li>
                                        <li><a href="">고급사항</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">증권가정보</a></li>
                                        <li><a href="">기타정보</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">자유게시판</a></li>
                                        <li><a href="">종목토론방</a></li>
                                        <li><a href="">SIX 이용후기</a></li>
                                        <li><a href="">특강 세미나 교육</a></li>
                                    </ul>
                                </li>
							</ul>
						</div>
						<!-- 2뎁스 끝 -->
					</li>
					<li><a href="" class="btnPullDown">SIX 아카데미</a>
                        <!-- 2뎁스 시작 -->
                        <div class="navigation_s2 pullDown">
                            <span class="arrow_s2"></span>
                            <ul>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 란?</a></li>
                                        <li><a href="">공지사항</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 주식배움터</a></li>
                                        <li><a href="">SIX 투자전략</a></li>
                                        <li><a href="">SIX 탐방노트</a></li>
                                        <li><a href="">필수구독자료</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">일급무료종목추천</a></li>
                                        <li><a href="">식스비기</a></li>
                                        <li><a href="">테마정보</a></li>
                                        <li><a href="">실시간 증시일정</a></li>
                                        <li><a href="">증시브리핑</a></li>
                                        <li><a href="">고수들의 인터뷰</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 파트너</a></li>
                                        <li><a href="">SIX 파트너 순위</a></li>
                                        <li><a href="">SIX 파트너 신청</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">무료정보</a></li>
                                        <li><a href="">무료종목</a></li>
                                        <li><a href="">투자전략</a></li>
                                        <li><a href="">시장분석</a></li>
                                        <li><a href="">고급정보</a></li>
                                        <li><a href="">유료종목</a></li>
                                        <li><a href="">매매기법</a></li>
                                        <li><a href="">고급사항</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">증권가정보</a></li>
                                        <li><a href="">기타정보</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">자유게시판</a></li>
                                        <li><a href="">종목토론방</a></li>
                                        <li><a href="">SIX 이용후기</a></li>
                                        <li><a href="">특강 세미나 교육</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- 2뎁스 끝 -->
                    </li>
					<li><a href="" class="btnPullDown">SIX 일급정보</a>
                        <!-- 2뎁스 시작 -->
                        <div class="navigation_s3 pullDown">
                            <span class="arrow_s3"></span>
                            <ul>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 란?</a></li>
                                        <li><a href="">공지사항</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 주식배움터</a></li>
                                        <li><a href="">SIX 투자전략</a></li>
                                        <li><a href="">SIX 탐방노트</a></li>
                                        <li><a href="">필수구독자료</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">일급무료종목추천</a></li>
                                        <li><a href="">식스비기</a></li>
                                        <li><a href="">테마정보</a></li>
                                        <li><a href="">실시간 증시일정</a></li>
                                        <li><a href="">증시브리핑</a></li>
                                        <li><a href="">고수들의 인터뷰</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 파트너</a></li>
                                        <li><a href="">SIX 파트너 순위</a></li>
                                        <li><a href="">SIX 파트너 신청</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">무료정보</a></li>
                                        <li><a href="">무료종목</a></li>
                                        <li><a href="">투자전략</a></li>
                                        <li><a href="">시장분석</a></li>
                                        <li><a href="">고급정보</a></li>
                                        <li><a href="">유료종목</a></li>
                                        <li><a href="">매매기법</a></li>
                                        <li><a href="">고급사항</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">증권가정보</a></li>
                                        <li><a href="">기타정보</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">자유게시판</a></li>
                                        <li><a href="">종목토론방</a></li>
                                        <li><a href="">SIX 이용후기</a></li>
                                        <li><a href="">특강 세미나 교육</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- 2뎁스 끝 -->
                    </li>
					<li><a href="" class="btnPullDown">SIX 파트너</a>
                        <!-- 2뎁스 시작 -->
                        <div class="navigation_s4 pullDown">
                            <span class="arrow_s4"></span>
                            <ul>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 란?</a></li>
                                        <li><a href="">공지사항</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 주식배움터</a></li>
                                        <li><a href="">SIX 투자전략</a></li>
                                        <li><a href="">SIX 탐방노트</a></li>
                                        <li><a href="">필수구독자료</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">일급무료종목추천</a></li>
                                        <li><a href="">식스비기</a></li>
                                        <li><a href="">테마정보</a></li>
                                        <li><a href="">실시간 증시일정</a></li>
                                        <li><a href="">증시브리핑</a></li>
                                        <li><a href="">고수들의 인터뷰</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 파트너</a></li>
                                        <li><a href="">SIX 파트너 순위</a></li>
                                        <li><a href="">SIX 파트너 신청</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">무료정보</a></li>
                                        <li><a href="">무료종목</a></li>
                                        <li><a href="">투자전략</a></li>
                                        <li><a href="">시장분석</a></li>
                                        <li><a href="">고급정보</a></li>
                                        <li><a href="">유료종목</a></li>
                                        <li><a href="">매매기법</a></li>
                                        <li><a href="">고급사항</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">증권가정보</a></li>
                                        <li><a href="">기타정보</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">자유게시판</a></li>
                                        <li><a href="">종목토론방</a></li>
                                        <li><a href="">SIX 이용후기</a></li>
                                        <li><a href="">특강 세미나 교육</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- 2뎁스 끝 -->
                    </li>
					<li><a href="" class="btnPullDown">정보거래소</a>
                        <!-- 2뎁스 시작 -->
                        <div class="navigation_s5 pullDown">
                            <span class="arrow_s5"></span>
                            <ul>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 란?</a></li>
                                        <li><a href="">공지사항</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 주식배움터</a></li>
                                        <li><a href="">SIX 투자전략</a></li>
                                        <li><a href="">SIX 탐방노트</a></li>
                                        <li><a href="">필수구독자료</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">일급무료종목추천</a></li>
                                        <li><a href="">식스비기</a></li>
                                        <li><a href="">테마정보</a></li>
                                        <li><a href="">실시간 증시일정</a></li>
                                        <li><a href="">증시브리핑</a></li>
                                        <li><a href="">고수들의 인터뷰</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 파트너</a></li>
                                        <li><a href="">SIX 파트너 순위</a></li>
                                        <li><a href="">SIX 파트너 신청</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">무료정보</a></li>
                                        <li><a href="">무료종목</a></li>
                                        <li><a href="">투자전략</a></li>
                                        <li><a href="">시장분석</a></li>
                                        <li><a href="">고급정보</a></li>
                                        <li><a href="">유료종목</a></li>
                                        <li><a href="">매매기법</a></li>
                                        <li><a href="">고급사항</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">증권가정보</a></li>
                                        <li><a href="">기타정보</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">자유게시판</a></li>
                                        <li><a href="">종목토론방</a></li>
                                        <li><a href="">SIX 이용후기</a></li>
                                        <li><a href="">특강 세미나 교육</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- 2뎁스 끝 -->
                    </li>
                    <li><a href="" class="btnPullDown">증권가소식</a>
                        <!-- 2뎁스 시작 -->
                        <div class="navigation_s6 pullDown">
                            <span class="arrow_s6"></span>
                            <ul>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 란?</a></li>
                                        <li><a href="">공지사항</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 주식배움터</a></li>
                                        <li><a href="">SIX 투자전략</a></li>
                                        <li><a href="">SIX 탐방노트</a></li>
                                        <li><a href="">필수구독자료</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">일급무료종목추천</a></li>
                                        <li><a href="">식스비기</a></li>
                                        <li><a href="">테마정보</a></li>
                                        <li><a href="">실시간 증시일정</a></li>
                                        <li><a href="">증시브리핑</a></li>
                                        <li><a href="">고수들의 인터뷰</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 파트너</a></li>
                                        <li><a href="">SIX 파트너 순위</a></li>
                                        <li><a href="">SIX 파트너 신청</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">무료정보</a></li>
                                        <li><a href="">무료종목</a></li>
                                        <li><a href="">투자전략</a></li>
                                        <li><a href="">시장분석</a></li>
                                        <li><a href="">고급정보</a></li>
                                        <li><a href="">유료종목</a></li>
                                        <li><a href="">매매기법</a></li>
                                        <li><a href="">고급사항</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">증권가정보</a></li>
                                        <li><a href="">기타정보</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">자유게시판</a></li>
                                        <li><a href="">종목토론방</a></li>
                                        <li><a href="">SIX 이용후기</a></li>
                                        <li><a href="">특강 세미나 교육</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- 2뎁스 끝 -->
                    </li>
                    <li><a href="" class="btnPullDown">커뮤니티</a>
                        <!-- 2뎁스 시작 -->
                        <div class="navigation_s7 pullDown">
                            <span class="arrow_s7"></span>
                            <ul>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 란?</a></li>
                                        <li><a href="">공지사항</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 주식배움터</a></li>
                                        <li><a href="">SIX 투자전략</a></li>
                                        <li><a href="">SIX 탐방노트</a></li>
                                        <li><a href="">필수구독자료</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">일급무료종목추천</a></li>
                                        <li><a href="">식스비기</a></li>
                                        <li><a href="">테마정보</a></li>
                                        <li><a href="">실시간 증시일정</a></li>
                                        <li><a href="">증시브리핑</a></li>
                                        <li><a href="">고수들의 인터뷰</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">SIX 파트너</a></li>
                                        <li><a href="">SIX 파트너 순위</a></li>
                                        <li><a href="">SIX 파트너 신청</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">무료정보</a></li>
                                        <li><a href="">무료종목</a></li>
                                        <li><a href="">투자전략</a></li>
                                        <li><a href="">시장분석</a></li>
                                        <li><a href="">고급정보</a></li>
                                        <li><a href="">유료종목</a></li>
                                        <li><a href="">매매기법</a></li>
                                        <li><a href="">고급사항</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">증권가정보</a></li>
                                        <li><a href="">기타정보</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="">자유게시판</a></li>
                                        <li><a href="">종목토론방</a></li>
                                        <li><a href="">SIX 이용후기</a></li>
                                        <li><a href="">특강 세미나 교육</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- 2뎁스 끝 -->
                    </li>
				</ul>
			</div>
			<!-- pc메뉴 끝 -->
		</div>
	</div>
	</header>
	<!-- header End -->
	<!-- contain -->
	<div id="wrap_container">
        <div class="container">
            <div class="wrap_left">
                <div class="kospi">
                    <p class="kospi_title">KOSPI</p>
                    <p class="kospi_title2">1,915.53 <span>7.09 (1.75%)</span></p>
                    <p class="kospi_title">KOSPI</p>
                    <p class="kospi_title2 type2">1,915.53 <span>7.09 (1.75%)</span></p>
                    <p class="kospi_title">KOSPI</p>
                    <p class="kospi_title2 type2">1,915.53 <span>7.09 (1.75%)</span></p>
                </div>
                <div class="login_box">
                    <input type="text" class="id_input" placeholder="아이디">
                    <input type="text" class="password_input" placeholder="비밀번호">
                    <button class="login_btn">로그인</button>
                    <a href="#" class="id_search">아이디/비밀번호찾기</a>
                    <a href="#" class="join">회원가입</a>
                </div>
                <div class="about_six">
                    <p class="about_sixtitle">정보거래소</p>
                    <ul class="about_sixlist">
                        <li><a href="#">무료종목<span></span></a></li>
                        <li><a href="#">투자전략<span></span></a></li>
                        <li  class="on"><a href="#">시장분석<span></span></a></li>
                        <li><a href="#">유료종목<span></span></a></li>
                        <li><a href="#">매매기법<span></span></a></li>
                        <li><a href="#">고급시황<span></span></a></li>
                    </ul>
                </div>
                <div class="left_ad">
                    <img src="../../img/ad.jpg" alt="">
                </div>
                <div class="youtube_channel">
                    <a class="youtube_title">채널<span>+ 더보기</span></a>
                    <div class="youtube_box">
                        <ul class="youtube_list">
                            <li><a href="#"><img src="../../img/youtube2.png" alt=""><p>박준상 TSI 투자 자문역</p></a></li>
                            <li><a href="#"><img src="../../img/youtube2.png" alt=""><p>박준상 TSI 투자 자문역</p></a></li>
                            <li><a href="#"><img src="../../img/youtube2.png" alt=""><p>박준상 TSI 투자 자문역</p></a></li>
                            <li><a href="#"><img src="../../img/youtube2.png" alt=""><p>박준상 TSI 투자 자문역</p></a></li>
                            <li><a href="#"><img src="../../img/youtube2.png" alt=""><p>박준상 TSI 투자 자문역</p></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrap_right">
                <img src="../../img/trade1.jpg" alt="" class="top_mainimg">
                <div class="right_contents type2">
                    <p class="title_type1">시장분석</p>
                    <ul class="navi_map">
                        <li><a href="#">정보거래소 &gt;</a></li>
                        <li><a href="#">시장분석</a></li>
                    </ul>
                    <div class="table_top">
                        <p class="table_type1title2">무료종목도 좋은 정보를 제공합니다.</p>
                        <div class="table_rightarea">
                            <select name="titleandcontent" id="titleandcontent" title="분류">
                                <option value="제목">제목</option>
                                <option value="제목">내용</option>
                            </select>
                            <input type="text">
                            <button>검색</button>
                        </div>
                    </div>
                    <div class="table_type1_view type2">
                        <table>
                            <caption>공지사항</caption>
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:35%;">
                                <col style="width:15%;">
                                <col style="width:35%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>제목</td>
                                    <td>무료정보 제목입니다.</td>
                                    <th>다운로드 수</th>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <th>작성자</td>
                                    <td>홍길동</td>
                                    <th>작성일</th>
                                    <td>2015-09-24</td>
                                </tr>
                                <tr>
                                    <th>첨부파일</td>
                                    <td>abc.pdf</td>
                                    <th>조회</th>
                                    <td>341</td>
                                </tr>
                                <tr>
                                    <th class="bb_line3">가격</td>
                                    <td class="bb_line3" colspan="3">무료</td>
                                </tr>
                                <tr class="">
                                    <td colspan="4" class="td_lh">코스피지수의 부진은 2008년 세계 금융위기 이후 가장 오랫동안 ‘팔자’에 나선 외국인 탓이 크다. 외국인은 지난달 5일부터 2일까지 코스피 시장에서 20일 연속 주식을 순매도 했다. 누적 금액만 4조2412억원에 달한다. 코스피가 하락세를 보인 시기와 일치한다. 2000년대 들어 20일 이상 외국인이 ‘팔자’에 나선 건 2005년 3월(20일)과 2008년 1월(21일), 2008년 7월(36일) 뿐이다.

                                    　코스피 지수는 과거에도 외국인의 주식 매매 흐름에 민감하게 반응했다. 금융정보업체 와이즈에프엔과 대신증권에 따르면 증시 투자 주체 중 2012년 이후 코스피 지수와 상관계수가 가장 높은 곳은 외국인(0.68)이다. 외국인이 순매수하면 지수가 상승하고, 외국인이 순매도하면 지수가 내려갈 확률이 높다는 뜻이다. 이에 따르면 외국인이 순매수로 바뀌지 않는 한 코스피 반등을 기대하긴 쉽지 않다. 마침 외국인투자에 변화의 흐름이 보이고 있다. 8월말 부터 매도 규모가 작아지고 있다. 외국인은 지난달 20일부터 27일까지 평균 4800억원을 팔았다. 지난달 24일엔 하루에만 7238억원어치를 순매도했다. 그러나 28일부터는 300억원대로 축소됐다. 1일엔 74억원 어치를 파는 데 그쳤다.

                                    　이경민 대신증권 연구원은 “ 미국 금리인상 우려와 중국 증시 변동이 이어지는 중에 이런 현상이 나타났다”며 “세계 경기 둔화가 가시화되지 않자 외국인이 매매 패턴을 바꿀 가능성을 시사한 것”이라고 분석했다. 유승민 삼성증권 연구원도 “신흥시장에서 자금 이탈이 지속할가능성이 크지만 국내 증시에서 추가적인 자금회수는 제한적”이라며 “시가총액 기준으로 본다면 이미 과거 평균을 넘어서 매도 규모는 작아질 것”이라고 내다봤다.

                                    　특히 지난 20일간의 매도 흐름 속에서도 외국인은 에너지, 자동차·부품, 건강관리, 보험, 증권, 기계 등 16개 업종에선 투자 비중을 늘렸다. 대신 반도체·장비, 지주사, 소매, 필수소비재, 운송 등의 비중은 줄였다. 이경민 연구원은 “외국인은 순매도를 하면서도 국제유가 반등,원화 가치 상승 등의 가능성을 두고 관련 업종에 투자한 것으로 보인다”며 이런 흐름을 따라간다면 코스피지수보다 높은 수익을 기록할 수
                                    있다”고 말했다.

                                    　하지만 미국의 금리인상과 중국 경기 불안 등 이른바 ‘G2’발 위험이 없어진 건 아니다. 18일 열릴 미국 연방공개시장위원회(FOMC) 전까지 국내 증시 변동성이 이어질 거란 분석도 많다. 배성진 현대증권 연구원은 “지난주 스탠리 피셔 연방준비제도 부의장의 발언 후 9월 금리인상 가능성에 무게가 실리고 있다”며 “FOMC 회의까지는 미국의 8월 비농업고용과 시간당 평균임금 및 실업률 등 고용지표에 주목하며신중히 대응해야 한다”고 말했다. 김윤서 KTB투자증권 연구원도 “환율 영향으로 자동차 관련주가 반등하긴 했지만 시장 전체는 불안정하므로 방어적으로 대응하는 게 맞다”며 고 말했다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table_comment type3">
                        <p class="comment_title1">댓글쓰기</p>
                        <textarea class="com_text" name="" id="" cols="30" rows="10" placeholder="댓글을 달아주세요.  최대 100자까지 작성할 수 있습니다. 악플은 제재 및 삭제될 수 있습니다. "></textarea>
                        <button class="com_btn">등록하기</button>
                    </div>
                    <div class="table_bottom">
                        <a href="#" class="go_list">목록으로</a>
                        <ul class="table_option">
                            <li><a href="#">삭제</a></li>
                            <li><a href="#">취소</a></li>
                            <li><a href="#">수정</a></li>
                            <li class="on"><a href="#">글쓰기</a></li>
                        </ul>
                    </div>
                    <ul class="com_list">
                        <li>
                            <div class="com_top">
                                <ul class="com_top1">
                                    <li>SIX 매니저</li>
                                    <li>2015-09-20</li>
                                </ul>
                                <ul class="com_top2">
                                    <li><a href="#">답글</a></li>
                                    <li><a href="#">수정</a></li>
                                    <li><a href="#">취소</a></li>
                                    <li><a href="#">삭제</a></li>
                                </ul>
                            </div>
                            <p class="comment_content">부산서 서울이 4시간 20분밖에 안걸렸어?자동차로? 빠르네.... 기차 무궁화호는 젤빠른게 4시간 50분인데.새마을은 4시간20분KTX도 고작 2시간 25분 </p>
                        </li>
                        <li class="type2">
                            <div class="com_top">
                                <ul class="com_top1">
                                    <li>SIX 매니저</li>
                                    <li>2015-09-20</li>
                                </ul>
                                <ul class="com_top2">
                                    <li><a href="#">답글</a></li>
                                    <li><a href="#">수정</a></li>
                                    <li><a href="#">취소</a></li>
                                    <li><a href="#">삭제</a></li>
                                </ul>
                            </div>
                            <p class="comment_content">부산서 서울이 4시간 20분밖에 안걸렸어?자동차로? 빠르네.... 기차 무궁화호는 젤빠른게 4시간 50분인데.새마을은 4시간20분KTX도 고작 2시간 25분 </p>
                        </li>
                        <li class="type3">
                            <div class="table_comment type2">
                                <p class="comment_title1">댓글쓰기</p>
                                <textarea class="com_text" name="" id="" cols="30" rows="10" placeholder="댓글을 달아주세요.  최대 100자까지 작성할 수 있습니다. 악플은 제재 및 삭제될 수 있습니다. "></textarea>
                                <button class="com_btn">등록하기</button>
                            </div>
                        </li>
                        <li>
                            <div class="com_top">
                                <ul class="com_top1">
                                    <li>SIX 매니저</li>
                                    <li>2015-09-20</li>
                                </ul>
                                <ul class="com_top2">
                                    <li><a href="#">답글</a></li>
                                    <li><a href="#">수정</a></li>
                                    <li><a href="#">취소</a></li>
                                    <li><a href="#">삭제</a></li>
                                </ul>
                            </div>
                            <p class="comment_content">부산서 서울이 4시간 20분밖에 안걸렸어?자동차로? 빠르네.... 기차 무궁화호는 젤빠른게 4시간 50분인데.새마을은 4시간20분KTX도 고작 2시간 25분 </p>
                        </li>
                        <li>
                            <div class="com_top">
                                <ul class="com_top1">
                                    <li>SIX 매니저</li>
                                    <li>2015-09-20</li>
                                </ul>
                                <ul class="com_top2">
                                    <li><a href="#">답글</a></li>
                                    <li><a href="#">수정</a></li>
                                    <li><a href="#">취소</a></li>
                                    <li><a href="#">삭제</a></li>
                                </ul>
                            </div>
                            <p class="comment_content">부산서 서울이 4시간 20분밖에 안걸렸어?자동차로? 빠르네.... 기차 무궁화호는 젤빠른게 4시간 50분인데.새마을은 4시간20분KTX도 고작 2시간 25분 </p>
                        </li>
                    </ul>
                    <div class="paging">
                        <a href="#" class="prev2"><img src="../../img/prev2.png" alt="이전"></a>
                        <a href="#" class="prev1"><img src="../../img/prev1.png" alt="이전"></a>
                        <ul class="paging_list">
                            <li class="on"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                        </ul>
                        <a href="#" class="next1"><img src="../../img/next1.png" alt="이전"></a>
                        <a href="#" class="next2"><img src="../../img/next2.png" alt="이전"></a>
                    </div>
                </div>
            </div>
            <div class="left_side">
                <ul class="left_banner1">
                    <li><a href="#">SIX 아카데미</a></li>
                    <li><a href="#">SIX 일급정보</a></li>
                    <li><a href="#">정보거래소</a></li>
                </ul>
                <div class="left_banner2">
                    <p class="rank_title">RANKING</p>
                    <ul class="ranking_list">
                        <li><a href="#"><img src="../../img/rank_img.png" alt=""></a></li>
                        <li><a href="#"><img src="../../img/rank_img.png" alt=""></a></li>
                        <li><a href="#"><img src="../../img/rank_img.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="dart">
                    <input type="text" class="dart_search">
                    <button class="dart_btn">검색</button>
                </div>
            </div>
            <div class="right_side">
                <ul class="right_banner1">
                    <li><a href="#">정보열람<br>회원가입</a></li>
                    <li><a href="#">SIX 파트너<br>신청</a></li>
                </ul>
                <a href="#" class="right_bn3"><img src="../../img/right_bn3.jpg" alt=""></a>
                <a href="#" class="right_bn4"><img src="../../img/right_bn4.jpg" alt=""></a>
            </div>
        </div>


	</div>
	<!-- //container -->
	<footer>
        <div id="footer">
            <ul class="look_ahead4">
                <li><a href="#"><p class="look_title">SIX 파트너 신청</p></a></li>
                <li><a href="#"><p class="look_title">고객센터</p></a></li>
                <li><a href="#"><p class="look_title">회원가입</p></a></li>
            </ul>
            <div class="footer_top">
                <div class="footer_top2">
                    <ul class="sitemap_list">
                        <li>
                            <p class="sitemap_title">SIX 소개</p>
                            <ul class="sitemap_list2">
                                <li><a href="#">SIX란?</a></li>
                                <li><a href="#">공지사항</a></li>
                                <li><a href="#">결재방법</a></li>
                                <li><a href="#">고객문의</a></li>
                            </ul>
                        </li>
                        <li>
                            <p class="sitemap_title">SIX 아카데미</p>
                            <ul class="sitemap_list2">
                                <li><a href="#">SIX 주식배움터</a></li>
                                <li><a href="#">SIX 투자전략</a></li>
                                <li><a href="#">SIX 탐방노트</a></li>
                                <li><a href="#">필수구독자료</a></li>
                            </ul>
                        </li>
                        <li>
                            <p class="sitemap_title">SIX 일급정보</p>
                            <ul class="sitemap_list2">
                                <li><a href="#">일급 무료종목 추천</a></li>
                                <li><a href="#">식스비기</a></li>
                                <li><a href="#">테마정보</a></li>
                                <li><a href="#">실시간 증시일정</a></li>
                                <li><a href="#">증시브리핑</a></li>
                                <li><a href="#">고수들의 인터뷰</a></li>
                            </ul>
                        </li>
                        <li>
                            <p class="sitemap_title">SIX 파트너</p>
                            <ul class="sitemap_list2">
                                <li><a href="#">SIX 파트너</a></li>
                                <li><a href="#">SIX 파트너 순위</a></li>
                                <li><a href="#">SIX 파트너 신청</a></li>
                            </ul>
                        </li>
                        <li>
                            <p class="sitemap_title">정보거래소</p>
                            <ul class="sitemap_list2">
                                <li><a href="#">무료정보</a></li>
                                <li class="ti_5"><a href="#"> - 무료종목</a></li>
                                <li class="ti_5"><a href="#"> - 투자전략</a></li>
                                <li class="ti_5"><a href="#"> - 시장분석</a></li>
                                <li><a href="#">고급정보</a></li>
                                <li class="ti_5"><a href="#"> -유료종목</a></li>
                                <li class="ti_5"><a href="#"> -매매기법</a></li>
                                <li class="ti_5"><a href="#"> -고급사항</a></li>
                            </ul>
                        </li>
                        <li>
                            <p class="sitemap_title">커뮤니티</p>
                            <ul class="sitemap_list2">
                                <li><a href="#">자유게시판</a></li>
                                <li><a href="#">종목 토론방</a></li>
                                <li><a href="#">SIX 이용후기</a></li>
                                <li><a href="#">특강 세미나 교육</a></li>
                            </ul>
                        </li>
                        <li>
                            <p class="sitemap_title">이벤트</p>
                            <ul class="sitemap_list2">
                                <li><a href="#">진행중 이벤트</a></li>
                                <li><a href="#">종료 이벤트</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="bn_list">
                <li><a href="#"><img src="../../img/bn1.png" alt="한국거래소"></a></li>
                <li><a href="#"><img src="../../img/bn2.png" alt="우리투자증권"></a></li>
                <li><a href="#"><img src="../../img/bn1.png" alt="우리투자증권"></a></li>
                <li><a href="#"><img src="../../img/bn2.png" alt="우리투자증권"></a></li>
                <li><a href="#"><img src="../../img/bn1.png" alt="우리투자증권"></a></li>
                <li><a href="#"><img src="../../img/bn2.png" alt="우리투자증권"></a></li>
            </ul>
            <div class="footer_bottom">
                <div class="footer_bottom2">
                    <a href="#" class="foot_logo"><img src="../../img/foot_logo.png" alt="six"></a>
                    <div class="footer_text">
                        <ul class="foot_link">
                            <li><a href="#">회사소개</a></li>
                            <li><a href="#">문의하기</a></li>
                            <li><a href="#">SIX주식정보거래소</a></li>
                        </ul>
                        <div class="foot_text">
                            <p class="foot_text1">000-000 서울특별시 구로구 독산동 현대 2222호    TEL  02.777.7777    FAX  02.777.7777     대표  박준상    아이엔티인베스트</p>
                            <p class="foot_text1">개인정보책임자  민병철    사업자등록번호  333-33-33333    통신판매업신고  333-33-33333</p>
                            <p class="foot_text1">Copyright 2015© STOCK INFORMATION EXCHANGE. All right reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</footer>
</div>
<script>
/**********************************************************************************/
// 팝업창 닫기
/**********************************************************************************/
$(".top_banner").delay(200).slideDown();
$("#close_top_notice").click(close_notice)
function close_notice(){
    $(".top_banner").slideUp();
}

/* * * * * * * * * * * * * * * * * * * * *
메인비주얼 슬라이드
* * * * * * * * * * * * * * * * * * * * */
    var pic_l = $(".visual .pic li").length;
    for(var i=0; i<pic_l; i++){
        $(".visual .btn").append("<div><span>"+(i+1)+"</span></div>");
    }
    $(".visual .btn").append("<a class='stop'></a>");

    var bi;
    var ran = Math.floor(Math.random() * pic_l);
    bi = ran;
    $(".visual .pic li").eq(bi).addClass("ch");
    $(".visual .btn div").eq(bi).addClass("ch");

    $(".visual .btn div").click(function(){
        if(!$(this).is(".ch")){
            bi = $(this).index();
            $(".visual .btn div").removeClass("ch");
            $(this).addClass("ch");
            $(".visual .pic li.ch").animate({"left":"-100%"}, 300).removeClass("ch");
            $(".visual .pic li").eq(bi).css("left","100%").animate({"left":"0"}, 300).addClass("ch");
        }
    });
    $(".visual .prev").click(function(){
        bi--;
        if(bi < 0){bi=pic_l-1;}
        $(".visual .btn div").eq(bi).click();
    });
    $(".visual .next").click(function(){
        bi++;
        if(bi >= pic_l){bi=0;}
        $(".visual .btn div").eq(bi).click();
    });

    var autoset;
    function autoRun(){
        autoset = setTimeout(function(){
            $(".visual .next").click();
            autoRun();
        }, 3000);
    }autoRun();
    var stg = 0;
    $(".visual .btn").on("click", ".stop", function(){
        $(this).removeClass().addClass("gogo");
        stg = 0;
        clearTimeout(autoset);
    });
    $(".visual .btn").on("click", ".gogo", function(){
        if(stg == 0){
            $(this).removeClass().addClass("stop");
            stg = 1;
            $(".visual .next").click();
            autoRun();
        }
    });
    $(".visual .dir span").click(function(){
        $(".visual .stop").click();
    });
    $(".visual .btn div span").click(function(){
        $(".visual .stop").click();
    });

/* * * * * * * * * * * * * * * * * * * * *
비주얼  슬라이드2
* * * * * * * * * * * * * * * * * * * * */
var pic_ls = $(".visuals .pic li").length;
for(var i=0; i<pic_ls; i++){
    $(".visuals .btn").append("<div><span>"+(i+1)+"</span></div>");
}
$(".visuals .btn").append("<a class='stop'></a>");

var bis;
var rans = Math.floor(Math.random() * pic_ls);
bis = rans;
$(".visuals .pic li").eq(bis).addClass("ch");
$(".visuals .btn div").eq(bis).addClass("ch");

$(".visuals .btn div").click(function(){
    if(!$(this).is(".ch")){
        bis = $(this).index();
        $(".visuals .btn div").removeClass("ch");
        $(this).addClass("ch");
        $(".visuals .pic li.ch").animate({"left":"-100%"}, 300).removeClass("ch");
        $(".visuals .pic li").eq(bis).css("left","100%").animate({"left":"0"}, 300).addClass("ch");
    }
});
$(".visuals .prev").click(function(){
    bis--;
    if(bis < 0){bis=pic_ls-1;}
    $(".visuals .btn div").eq(bis).click();
});
$(".visuals .next").click(function(){
    bis++;
    if(bis >= pic_ls){bis=0;}
    $(".visuals .btn div").eq(bis).click();
});

var autosets;
function autoRuns(){
    autosets = setTimeout(function(){
        $(".visuals .next").click();
        autoRuns();
    }, 3000);
}autoRuns();

var stgs = 0;
$(".visuals .btn").on("click", ".stop", function(){
    $(this).removeClass().addClass("gogo");
    stgs = 0;
    clearTimeout(autosets);
});
$(".visuals .btn").on("click", ".gogo", function(){
    if(stgs == 0){
        $(this).removeClass().addClass("stop");
        stgs = 1;
        $(".visuals .next").click();
        autoRuns();
    }
});
$(".visuals .dir span").click(function(){
    $(".visuals .stop").click();
});
$(".visuals .btn div span").click(function(){
    $(".visuals .stop").click();
});
</script>
</body>
</html>